extends layout

block content   
  -console.log("comments joke - layout")


  if comments.length
   
    -var counter=0
    each comment in comments 
      -counter+=1
      
      iframe(type='text/html' width='640' height='390'
      src='http://www.youtube.com/embed/'+ comment.video_id+'?=1&origin=http://example.com'
      frameborder='0')
      div.container(id ="commentInfo"+counter) 
        p Comment can be read here below:
        p(id =comment.cid)
        p=  comment.text
        p Question
            div.row(id="mainDiv)") 
            input(type="button",  value="Joke",id="joke" + counter,class="btn btn-light") 
            |  

            input(type="button",  value="Not Joke",id="noJoke" + counter,class="btn btn-light") 
            |

  
    //some random input to be able to send a value 

    input(
      type="button",value="Submit results", class="btn btn-lg btn-primary btn-block",id="submitButton"
    ) 
    
    //form(action="/comments" method="POST" class="classify")
      input(
        type="text"
        value="text"
        name ="foo"

      )
      input(
        type="submit"
        value="Submit "
        class="btn btn-lg btn-primary btn-block"
      )     
 
       
   
          
  else
    p No registrations yet :(

  script
    console.log(document.maleClick)
    console.log(document.getElementById('test1'.innerText))
 
    