extends layout

block content

  h1 Classicfy - Comment Categorization

  -console.log("comments categor - layout")

  if comments.length
   
    -var counter=0
    -prevVideo =null
    p.h4 Instructions
    p(class="greytext") For this task we are doing a comment classification task. Each of the comments that are named were posted to the video shown above. Try and determine which of the categories the comment belongs too.<br><br>Steps
      <br>1. Read the comment
      <br>2. Watch the video - the nearest video above is relevant to he comment   
      <br>3. Determine the related categories
      <br><br>Rules & Tips
      <br>- You can tick multiple boxes, a comment can belong to multiple categories. 
      <br>- If you think no category can be ascribed to it, click on "Non related". 
      <br>- If you think we should include another category that is relevant, please type it in the textbox. But if you propose another category you must also choose some category that you deem most relevant.
      <br>- Make sure to read the explanations of the categories so you understand what they represent.
      <br><br>
      input(type="button", value="Show Category Explanations ",id="gategorydescriptionbutton",class="btn btn-light")
      div(id="gategorydescription",class="lighbluetext")
        div.row
          div(class ="col")
            p.h5 Understanding the categories
            <br>4 main parent categories: Person, Music, Consumption and Non Related.
            <br>  <br>
            p.h6 Person: all the data associated with an existing, real-life person.

            p Artist: holds other subcategories of artist types.
              <br>User: Youtube users
              <br>Other: prominent figures of our society that dont fall under the category of "Artist".
              <br><br>-The following are the subcategories for "Artist"-
              <br>Composer: the person that creates the music.
              <br>Related Composer: the person that creates related music or is somehow related to the video.
              <br>Performer: the person who perfomrs the music.
              <br>Related Performer: the person who perfomrs related music or is somehow related to the video.
              <br>Related Artist: should capture all other the people related to arts.

            <br><br>
            p.h6 Music: all the data that refers to classical music composition and its performance
            p Music Piece: as the creation of a composer
              <br>Interpretation: as in the interpretation of performers.
              <br><br>-The following are the subcategories for "Music Piece"-
              <br>Composition: written music piece of the classical music video
              <br>Related Composition: music piece written by the same or related composer as the one in the video.
              <br>Genre: captures all data that refers to classical music as a whole
              <br>Related Genre: other music genres 
              <br><br>-The following are the subcategories for "Interpretation"-
              <br>Performance: data that refers to the performance of the music video.
              <br>Related performance: performance in a related mussic video of same or related music piece.
            <br><br>
          div(class ="col")
            p.h6 Consumption: comments about how people interact with the media.
            p User Context: how the user listens to music
              <br>Parallel Activities: activities that the users do while watching the video (e.g. studying, working,..)
              <br>User: other users on Youtube
              <br>Experience: includes memories and emtions triggered by the video
              <br>Platform Related: referrs to the social media platform
              <br> Media: if the comment related to any aspect of a Youtube Video
              <br><br>-The following are subcategories for "User"
              <br>Original poster: if it refers to the user that uploaded the video.
              <br>User General: other users
              <br><br>-The following are subcategories for "Platform Related"
              <br>Media Host:if content refers to Youtube
              <br>Related Media host: if the content refers to other platform.
              <br><br>-The following are subcategories for "Media"
              <br>Post Content: if it refers to the video being looked at.
              <br>Related Content:if it related to something else.

            p.h6 Non Relevant: any content that does not dall in the previous classification is not relevant.
        
    each comment in comments 
      -counter+=1
      <br>
      p.h4 Choose the relevant class for comment #{counter}
      -if(!(prevVideo==comment.video_id))
        iframe(type='text/html' width='640' height='390'
        src='http://www.youtube.com/embed/'+ comment.video_id+'?=1&origin=http://example.com'
        frameborder='0')
      -prevVideo=comment.video_id
      div.container(id ="commentInfo"+counter) 
        p.h6 Comment can be read here below:
        p(id =comment.cid)
        p(class="greytext") #{comment.text}

      
      p.h6 Top Categories
      div.row(id="mainDiv)") 
        div(class ="col", id ='personDiv')
          input(type="button",  value="Person",id="personPick" + counter,class="btn btn-light") 
          |
          //person subcategories 
      
          div(id="person"+counter)
            p Person subcategories
            input(type="button",  value="User",id="personUserPick" + counter,class="btn btn-sm btn-light") 
            |
            input(type="button",  value="Artist",id="personArtistPick" + counter,class="btn btn-sm btn-light") 
            |
            input(type="button",  value="Other",id="personOtherPick" + counter,class="btn btn-sm btn-light") 
          
          div(id="personArtist"+counter)
            p Person - Artist subcategories
            input(type="button",  value="Composer",id="personArtistComposerPick" + counter,class="btn btn-sm btn-light") 
            |
            input(type="button",  value="Related Composer",id="personArtistRelatedComposerPick" + counter,class="btn btn-sm btn-light") 
            |
            input(type="button",  value="Performer",id="personArtistPerformerPick" + counter,class="btn btn-sm btn-light") 
            |
            input(type="button",  value="Related Performer",id="personArtistRelatedPerformerPick" + counter,class="btn btn-sm btn-light") 
            |
            input(type="button",  value="Related Artist",id="personArtistRelatedArtistPick" + counter,class="btn btn-sm btn-light") 

        div(class ="col ", id ='musicDiv')
          input(type="button",  value="Music",id="musicPick" + counter,class="btn btn-light")
          |
          //music subcategories
          div(id="music"+counter)
            p Music subcategories
            input(type="button",  value=" Music Piece",id="musicPiecePick" + counter,class="btn btn-sm btn-light")
            |
            input(type="button",  value="Interpretation",id="musicInterpretationPick" + counter,class="btn btn-sm btn-light")

          div(id="musicPiece"+counter)
            p Music - Music piece subcategories
            input(type="button",  value=" Composition",id="musicPieceCompositionPick" + counter,class="btn btn-sm btn-light")
            |  
            input(type="button",  value=" Related Composition",id="musicPieceRelatedCompositionPick" + counter,class="btn btn-sm btn-light")
            | 
            input(type="button",  value=" Genre",id="musicPieceGenrePick" + counter,class="btn btn-sm btn-light")
            | 
            input(type="button",  value=" Related Genre",id="musicPieceRelatedGenrePick" + counter,class="btn btn-sm btn-light")

          div(id="musicInterpretation"+counter)
            p Music  - Interpretation subcategories)  
            input(type="button",  value="performance",id="musicInterpretationPerformancePick" + counter,class="btn btn-sm btn-light")
            |
            input(type="button",  value="Related performance",id="musicInterpretationRelatedPerformancePick" + counter,class="btn btn-sm btn-light") 
        div(class ="col ", id ='consumptionDiv')
          input(type="button",  value="Consumption",id="consumptionPick" + counter,class="btn btn-light")
          |
          //consumption subcategories
          div(id="consumption"+counter)
            p Consumption subcategories
            input(type="button",  value="User Context",id="consumptionUserContextPick" + counter,class="btn btn-sm btn-light")
            |
            input(type="button",  value="Parallel Activities",id="consumptionParallelActivitiesPick" + counter,class="btn btn-sm btn-light")
            |        
            input(type="button",  value="User",id="consumptionUserPick" + counter,class="btn  btn-sm btn-light")
            |
            input(type="button",  value="Experience",id="consumptionExperiencePick" + counter,class="btn  btn-sm btn-light")
            |
            input(type="button",  value="Platform Related",id="consumptionPlatformRelatedPick" + counter,class="btn  btn-sm btn-light")
            |
            input(type="button",  value="Media",id="consumptionMediaPick" + counter,class="btn  btn-sm btn-light")
          div(id="consumptionUser"+counter)
            p Consumption - User - subcategories
            input(type="button",  value="User General",id="consumptionUserGeneralPick" + counter,class="btn  btn-sm btn-light")
            |
            input(type="button",  value="Original Poster",id="consumptionUserOriginalPosterPick" + counter,class="btn  btn-sm btn-light")
            
          div(id="consumptionPlatformRelated"+counter)
            p Consumption - Platform related- subcategories
            input(type="button",  value="Media Host",id="consumptionPlatformRelatedMediaHostPick" + counter,class="btn  btn-sm btn-light")
            |
            input(type="button",  value="Related Media Host",id="consumptionPlatformRelatedRelatedMediaHostPick" + counter,class="btn  btn-sm btn-light")

          div(id="consumptionMedia"+counter)
            p Consumption - Media - subcategories
            input(type="button",  value="Post Content",id="consumptionMediaPostContentPick" + counter,class="btn  btn-sm btn-light")
            |
            input(type="button",  value="Related Content",id="consumptionMediaRelatedContentPick" + counter,class="btn  btn-sm btn-light")
        div(class ="col ", id ='nonRelatedDiv')
          input(type="button",  value="Non Related",id="nonRelatedPick" + counter,class="btn  btn-light")
        div
          p Extra category: 
            input(type="input",id ="extra"+counter,value ="")
  
    //some random input to be able to send a value 

    input(
      type="button",value="Submit results", class="btn btn-lg btn-primary btn-block",id="submitButton"
    ) 
    
    //form(action="/comments" method="POST" class="classify")
      input(
        type="text"
        value="text"
        name ="foo"

      )
      input(
        type="submit"
        value="Submit "
        class="btn btn-lg btn-primary btn-block"
      )     
 
       
   
          
  else
    p No registrations yet :(

  script
    console.log(document.maleClick)
    console.log(document.getElementById('test1'.innerText))


  script(src="/js/CommentAssist.js")
 
    