extends layout

block content   
  h1 Classicfy - Comment Joke Judgement
  -console.log("comments joke - layout")

   p.h4 Instructions
    p(class="gretext") For this task we are doing a comment classification task. Each of the comments that are named were posted to the video shown above. Try and determineif the comment is a joke or not<br><br>Steps
      <br>1. Read the comment
      <br>2. Watch the video - the nearest video above is relevant to he comment      
      <br>3. Determine if the comment is a joke or not

  if comments.length
   
    -var counter=0
    -prevVideo =null
    each comment in comments 
      -counter+=1
      <br>
      p.h4 Judge whether comment #{counter} is a joke or not
      -if(!(prevVideo==comment.video_id))
        iframe(type='text/html' width='640' height='390'
        src='http://www.youtube.com/embed/'+ comment.video_id+'?=1&origin=http://example.com'
        frameborder='0')
      -prevVideo=comment.video_id
      div.container(id ="commentInfo"+counter) 
        p.h6 Comment can be read here below:
        p(id =comment.cid)
        p(class="greytext") #{comment.text}
        p.h6 Question
        input(type="button", value="Joke",id="joke" + counter,class="btn btn-light") 
        |  
        input(type="button", value="Not Joke",id="nojoke" + counter,class="btn btn-light") 
        |
      <br>
  

    input(
      type="button",value="Submit results", class="btn btn-lg btn-primary btn-block",id="submitButton"
    ) 
    
    //form(action="/comments" method="POST" class="classify")
      input(
        type="text"
        value="text"
        name ="foo"

      )
      input(
        type="submit"
        value="Submit "
        class="btn btn-lg btn-primary btn-block"
      )     
 
       
   
          
  else
    p No registrations yet :(


  script(src="/js/commentJokeAssist.js")