extends layout

block content   
  h1 Classicfy - Video Relevance
  -console.log("video relevancy - layout")

   p.h4 Instructions
    p(class="greytext") There is a lot of classical music on Youtube. Sometimes, it is difficult to match the correct video to a query done by the user due to the plethora of different covers and different specificity in naming. Therefore we have designed a task to determine the relevance of a query with respect to the video.
      <br><br>Steps <br>1. Watch the video at a few timesteps through the video - the nearest video above is relevant to he comment.   
      <br>2. Determine whether the video is relevant for the given search query.
      <br><br>Rules & Tips<br>Cases where it is not relevant: When it is a cover with a different interpretation, a different song, a different artist.<br>Cases where the video is relevant: When the video contains the music from the artist in the search query (whether it is live or not does not matter)
    
  if videos.length
   
    -var counter=0
    //-prevVideo =null
    each video in videos 
      -counter+=1
      <br>
      p.h4  Judge whether video #{counter} is relevant to the query
     
      iframe(type='text/html' width='640' height='390'
      src='http://www.youtube.com/embed/'+ video.video_id+'?=1&origin=http://example.com'
      frameborder='0')
      
      div.container(id ="videoInfo"+counter) 
        p(id =video.video_id)
        input(type="button", value="Video Description ",id="videodescriptionbutton" + counter,class="btn btn-light")
        p(id="videodescription"+ counter,class="lighbluetext") #{video.video_description} 
        <br><br>
        p.h6 The query can be read below:
        p(class="greytext") #{video.video_query}
        p.h6 Is the video above relevant to the query?
        input(type="button", value="Relevant",id="relevant" + counter,class="btn btn-light") 
        |  
        input(type="button", value="Not Relevant",id="norelevant" + counter,class="btn btn-light") 
        |
      <br>
  

    input(
      type="button",value="Submit results", class="btn btn-lg btn-primary btn-block",id="submitButton"
    ) 
    
    //form(action="/comments" method="POST" class="classify")
      input(
        type="text"
        value="text"
        name ="foo"

      )
      input(
        type="submit"
        value="Submit "
        class="btn btn-lg btn-primary btn-block"
      )     
 
       
   
          
  else
    p No registrations yet :(

  script(src="/js/videosRelevancyAssist.js")
