extends layout

block content   
  h1 Classicfy - Video Live performance Judgement
  -console.log("video live - layout")

  p.h4 Instructions
  p(class="greytext") There is a lot of classical music on Youtube. 
      <br><br>Steps 
      <br>1. Watch the video at a few timesteps through the video.
      <br>2. Determine whether the video is a live perfomance or not.

  if videos.length
   
    -var counter=0
    //-prevVideo =null
    each video in videos 
      -counter+=1
      p.h4 Judge whether video #{counter} is a performed live or not
     
      iframe(type='text/html' width='640' height='390'
      src='http://www.youtube.com/embed/'+ video.video_id+'?=1&origin=http://example.com'
      frameborder='0')
      
      div.container(id ="videoInfo"+counter) 
        //p.h6 can be read below:
        p(id =video.video_id)
        //p(class="greytext") #{video.video_query}
        p.h6 Is the video a live performance ?
        input(type="button", value="Live",id="live" + counter,class="btn btn-light") 
        |  
        input(type="button", value="Not Live",id="nolive" + counter,class="btn btn-light") 
        |
      <br>
  

    input(
      type="button",value="Submit results", class="btn btn-lg btn-primary btn-block",id="submitButton"
    ) 
    
    //form(action="/comments" method="POST" class="classify")
      input(
        type="text"
        value="text"
        name ="foo"

      )
      input(
        type="submit"
        value="Submit "
        class="btn btn-lg btn-primary btn-block"
      )     
 
       
   
          
  else
    p No registrations yet :(

  script(src="/js/videosLiveAssist.js")
